[Unit]
Description=%p
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5s

# setup sshguard tables
ExecStartPre=-/usr/sbin/iptables -N sshguard
ExecStartPre=-/usr/sbin/ip6tables -N sshguard

# block abuser traffic
ExecStartPre=-/usr/sbin/iptables -D INPUT -j sshguard
ExecStartPre=-/usr/sbin/ip6tables -D INPUT -j sshguard
ExecStartPre=-/usr/sbin/iptables -A INPUT -j sshguard
ExecStartPre=-/usr/sbin/ip6tables -A INPUT -j sshguard

ExecStart=/bin/sh -c 'journalctl -afb -p info -n1 -o cat -t sshd | \
   rkt run \
      --insecure-options=image \
      --interactive \
      --net=host \
      --stage1-name=coreos.com/rkt/stage1-fly:1.21.0 docker://mischief/sshguard \
      --caps-retain=CAP_NET_ADMIN'

[X-Fleet]
Global=true
